*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.jokeContainer{
  padding-bottom: 20px;
}
.jokeContainer h1{
  margin: 5px;
}
.setup{
  color:rgb(139, 34, 236)
}
.punchline{
  color:rgb(178, 113, 216);
}